<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Baslik"]</title>

    @*--------------------------------burada style linkleri vardı*@

    <partial name="_Styles" />

</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
      @*-----------------------------------------------------burada header vardı*@
        <partial name="_Header" />


        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
       @*---------------------------------------------burada sidebar vardı*@

        <partial name="_Sidebar" />



        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*------------------------------------------burada content header vardı*@
            <!-- /.content-header -->
            <!-- Main content -->
            
            @RenderBody()


            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        @*--------------------------------------------burada footer vardı.*@


        <partial name="_Footer" />

    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
   @*-------------------------burada scriptler vardı*@

    <partial name="_Scripts" />

</body>
</html>
