@model otelyonet.Models.Müşteri

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Müşteri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MüşteriID" />
            <div class="form-group">
                <label asp-for="MüşteriTamAdı" class="control-label"></label>
                <input asp-for="MüşteriTamAdı" class="form-control" />
                <span asp-validation-for="MüşteriTamAdı" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MüşteriSoyadi" class="control-label"></label>
                <input asp-for="MüşteriSoyadi" class="form-control" />
                <span asp-validation-for="MüşteriSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilNO" class="control-label"></label>
                <input asp-for="MobilNO" class="form-control" />
                <span asp-validation-for="MobilNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinsiyetID" class="control-label"></label>
                <select asp-for="CinsiyetID" class="form-control" asp-items="ViewBag.CinsiyetID"></select>
                <span asp-validation-for="CinsiyetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MüşteriTipiID" class="control-label"></label>
                <select asp-for="MüşteriTipiID" class="form-control" asp-items="ViewBag.MüşteriTipiID"></select>
                <span asp-validation-for="MüşteriTipiID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

